
<h1>Triangle Check</h1>
<div>
  <form action="/result" method="get">
    <div class="form-group">
      <p>Enter 3 side lengths and see if they make a triangle.</p>
      <label for="s1">Enter side 1:</label>
      <input id="s1" name="s1" class="form-control" type="number">
      <label for="s2">Enter side 2:</label>
      <input id="s2" name="s2" class="form-control" type="number">
      <label for="s3">Enter side 3:</label>
      <input id="s3" name="s3" class="form-control" type="number">
    </div>
    <button type="submit" class="btn-success">Submit</button>
  </form>
</div>
